.color-preview-block {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}
.color-preview-block span {
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 2px;
}
